Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

data=[4,8,15,16,23,42]
x=pd.Series(data)

In [3]:
print (x)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
var=[1,2,3,4,5,6,7,8,9,10]
series=pd.Series(var)
print (series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

3.Create a Pandas DataFrame that contains the following data:

In [7]:
data ={
    'name':['alice','bob','clarie'],
    'age':[25,30,27],
    'gender':['female','male','female']
}

data_frame=pd.DataFrame(data)
print(data_frame)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  clarie   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.


A DataFrame is a 2-dimensional labeled data structure that is commonly used to store and manipulate data in tabular form, similar to a spreadsheet or a SQL table. It consists of rows and columns, where each column can be of a different data type (e.g., integer, float, string). DataFrames can be thought of as a collection of Pandas Series, where each Series represents a column of the DataFrame.

Example of dataframe

In [9]:
data ={
    'name':['alice','bob','clarie'],
    'age':[25,30,27],
    'gender':['female','male','female']
}

data_frame=pd.DataFrame(data)
print(data_frame)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  clarie   27  female

Examole of series

In [10]:
var=[1,2,3,4,5,6,7,8,9,10]
series=pd.Series(var)
print (series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?


Pandas provides a wide range of functions and methods to manipulate data within a DataFrame. Some common functions and methods used for data manipulation:

Selection and Indexing,
Filtering and Querying,
Sorting etc.

In [15]:

series.sort_values( ascending=False)

9    10
8     9
7     8
6     7
5     6
4     5
3     4
2     3
1     2
0     1
dtype: int64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

 DataFrame in Pandas is mutable. You can modify the contents of a DataFrame after it has been created. This includes changing values in specific rows and columns, adding or removing rows and columns, and performing various operations that alter the DataFrame's structure or values.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [26]:
x=[1,2,3,4]
y=['reshad','aadil','rohan','karl']
z=['m','m','m','f']

s1=pd.Series(x)
s2=pd.Series(y)
s3=pd.Series(z)

p=pd.DataFarme


print(p)

SyntaxError: invalid syntax (3926553389.py, line 10)